.h2Compte {
  margin: 20px auto;
  text-align: center;
}
.panierTitre{
  text-align: right;
}

.mainPanier {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 3%;
  }

  .sectionPanier{
    margin: 1em 1em;
    background-color: #fff;
    border: black solid 1px;
    width: 80%;
    @media (min-width: 600px) {
      padding-right: 3em;
      padding-left: 3em;
    }
    @media (min-width: 1000px) {
      margin: 0 0;
    }
    &__titre{
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      padding: 1.5em 0;
      border-bottom: #000 solid 1.5px;
      margin-bottom: 2em;
    }
    &__msgArticle{
      text-align: center;
    }
    //Article dans le panier
    .livreAjoute{
      display: unset;
      padding: 1.5em .8em;
      margin-top: .7em;
      margin-bottom: .7em;
      border-bottom: $rouge 1.5px solid;
      @media(min-width: 600px){
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
      }
      .ctnImg{
        &__img{
          width: 100px;
        }
      }
      .ctnInfoLivre{
        @media (min-width: 600px) {
          margin-left: 10vw;
        }

      }
      & .modificationArticle{
        @media(min-width: 600px){
          flex: 1 0 100%;
        }
        &__btnSouhait{
          margin-top: 0;
        }
        form{
           .supprimer{
            margin-bottom: 0;
          }
        }
        .modifier{
          margin-left: 1em;
        }
      }
    }
  }
      //Partie Montant (Panier)
    .resumePanier {
      border: solid black 1px;
      max-width: 100%;
      padding: 1em .5em;
      background: #fff;
      margin: 1em 1em;
      width: 80%;
      @media (min-width: 800px) {
        margin-right: 1em;
      }
      @media (min-width: 1000px) {
        margin-top: 0;
      }

      & fieldset {
        border: none;

        & input {
          border: none;
          background: transparent;
          font-size: 1rem;
          color: black;
          width: fit-content;
          &:focus {
            border: none;
          }
        }
      }

      &__titre {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1.5em 0;
        border-bottom: #000 solid 1.5px;
        margin-bottom: 2em;
      }

      .total__label,
      .total__input {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2em;
      }

      .livraison__details {
        font-size: .7em;
      }

      & .total__label,
      & .total__input{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2em;
      }
      & .livraison__details{
        font-size: .9em;
      }
      &__btnSubmit {
        font-size: 1rem;
      }
    }

}

// Zone de changement de nombre de livre et ajout au panier (Fiche live et Panier)
.ajoutPanier {
  @media (min-width: 600px) {
    flex: 1 0 100%;
  }
  &__nbLivre {
    display: inline-block;
    height: 44px;
    width: 44px;
    text-align: center;
    border: black 1.5px solid;
    border-radius: 5px;
    line-height: 2.7em;
    background: white;
  }
  &__moins,
  &__plus,
  &__btnPanier,
  &__btnSouhait {
    margin: .5em 0;
  }
}

.borderSelection {
  border: $orange solid 1.3px;
  border-radius: 5px;
}

.ajoutMargin {
  margin-left: 52px;
}

.modificationArticle__btnSouhait,
.modificationArticle__btnSuppr,
.modificationArticle__btnModif {
  position: relative;

  & .modaleLabel {
    display: none;
  }

  &:hover .modaleLabel,
  &:focus .modaleLabel {
    display: unset;
    position: absolute;
    top: -2.5em;
    left: 0;
    background: $rouge;
    color: #fff;
    width: fit-content;
    padding: 7px 7px;
    border-radius: 5px;
  }
}

.modificationArticle__btnSouhait {
  &:hover .modaleLabel {
    width: 10em;
    z-index: 2;
  }
}
.ajoutPanier__btnPanier {
  position: relative;
}

// Zone de changement de nombre de livre et ajout au panier (Fiche livre et Panier)
.ajoutPanier{
  &__nbLivre {
    display: inline-block;
    height: 44px;
    width: 44px;
    text-align: center;
    border: black 1.5px solid;
    border-radius: 5px;
    line-height: 2.7em;
    background: white;
  }
}

.ajoutPanier__btnPanier:hover i {
  animation: jump 0.5s ease infinite;
}
//animation du panier qui saute
@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);

  }
  60% {
    transform: translateY(-5px);
  }
}
//animation du coeur qui bat
.ajoutPanier__btnSouhait {
  position: relative;
}

.ajoutPanier__btnSouhait:hover i {
  animation: heartbeat 0.8s ease infinite;
}



@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: scale(1.1);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1);
  }
}

// Gérer où apparait le texte du bouton (dans ou en dehors)
.modificationArticle__btnSouhait,
.modificationArticle__btnSuppr,
.modificationArticle__btnModif{
  position: relative;

  & .modaleLabel {
    display: none;
  }
}