
.aller-au-contenu {
  /* Ajoutez ici les styles spécifiques pour le lien "Aller au contenu" */
  display: block;
  padding: 10px; /* Ajoutez un espacement pour la visibilité et l'accessibilité */
  background-color: white;
  text-align: center;
  text-decoration: none;
}
