//boutons switch liste/grille
.boutons-switch {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0 1em 0;
}
.btn {
  margin: 5px;
  padding: 10px 20px;
  background-color: white;
  color: $orange;
  border:2px solid $orange;
  border-radius: 5px;
  width: auto;
  &:hover{
    border:3px solid $rouge;
    color: $rouge;
  }
  &:active,
  &.active{
    background-color: $orange;
    color: white;
  }
  &:focus{
    border:3px double $rouge;
    color: $rouge;
  }
  &.actif{
    background-color: $orange;
    color: white;
  }
}


