//Styles de base pour le titre (H1) des pages "fiche livre" et "fiche auteur"
.titreLivre,
.nomAuteur{
  padding: .6em .6em .6em .3em;
  font-size: 3em;
  background-color: $bgTitre;
  text-align: right;
  @media (min-width: 600px) {
    margin-left: 3em;
  }
}
