//Ajuster la taille de images pour qu'elles soient responsive.Étant donné que la reqête média dans le blade ne fonctionne pas
.liste{
  .image-item{
    height: auto;
    width: 100px;
    @media (min-width: 450px) {
      width: 150px;
    }
    @media (min-width: 800px) {
      width: 245px;
    }
  }
}