.livresSimilaires{
  list-style-type: none;
  @media (min-width: 600px) {
    padding-left: 0;
  }


  &__item{
    margin-right: 2.5em;
    display: block;
    @media (min-width: 600px) {
      display: inline-block;
      max-width: 28%;
      & .livre{
        //display: inline;

      }
    }
  }

  &__lien{
    display: block;
    color: black;
    text-decoration: none;
    &:hover .livre__titre{
      text-decoration: underline;
    }
  }
}

.livre{
  margin: .5em .5em;
  &__titre{
    font-weight: bold;
  }
  & .ctnImg__img{
    height: 250px;
    width: auto;
  }
}

