/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/

.btnPrimaire {
  background: $orange;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  &:hover,
  &:active{
    background: $rouge;
  }
  &:focus {
    background: $rouge;
    outline: $orange solid 2px;
    outline-offset: 2px;
  }
}

.btnSecondaire {
  background: #fff;
  color: $orange;
  font-weight: bold;
  border-radius: 5px;
  border: $orange solid 3px;
  padding: 10px 5px;
  &:hover,
  &:active {
    outline: $rouge solid 5px;
    color: $rouge;
  }
  &:focus {
    outline: $orange solid 5px;
    outline-offset: 3px;
    border: $rouge solid 5px;
    color: $rouge;
  }
}

.AjoutPanier__moins,
.AjoutPanier__plus{
  padding: 10px 12px;
}