/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/

.hyperlien {
  color: $orange;
  &:visited {
    color: $orange;
  }
  &:hover {
    color: $rouge;
    text-decoration: underline;
  }
  &:focus{
    border: #303075 solid 4px;
    text-decoration: underline;
  }
  &:active {
    font-weight: bolder;
    border: none;
    text-decoration: underline;
  }
}