main{
  background: #F9F1EC;
  .ctnBio{
    background: white;
    border: $orange solid 2px;
    border-radius: 5px;
    max-width: 800px;
    padding-left: .8em;
    padding-right: .4em;
    padding-top: .4em;
  }
}