@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,700&display=swap');
/**** Typographie responsive ****/
  html{
    font-family: $fontePrimaire;
    @include fontSize(10px);
    line-height: 1.375;
    &--desktop {
      line-height: 1.5;
    }
  }


a {
  font-family: $fontePrimaire;
  &:link {
    @include styleLien(none, $rouge);
  }
  &:visited {
    @include styleLien(none, $orange);
  }
  &:hover {
    @include styleLien(underline, $orange);
  }
  &:focus {
    @include styleLien(underline, $orange);
    border: 2px solid $orange;
  }
  &:active {
    @include styleLien(underline, $orange);
  }
}

h1,
.titreNiveau1{color: red}
h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: $fonteSecondaire;
  font-weight: 500;
}

h1 {
  @include fontSize(40px);
  color: $rouge;
  font-family: $fonteSecondaire;
  @media (min-width: 600px) {
    font-size: 64px;
  }
}

h2 {
  @include fontSize(37.5px);
  font-weight: bold;
  color:$rouge;
  font-family: $fonteSecondaire;
  text-transform: uppercase;
  margin: 0;
  @media (min-width: 600px) {
    @include fontSize(75px);
  }
}
.h2Accueil{
  @include fontSize(30px);
  @media (min-width: 600px) {
    @include fontSize(40px);
  }
}
.h2Compte{
  font-family: $fontePrimaire;
  @include fontSize(24px);
  @media (min-width: 800px) {
    @include fontSize(30px);
  }
}

h3 {
  font-weight: bold;
  @include fontSize(10px);
  font-family: $fontePrimaire;
  @media (min-width: 450px) {
    @include fontSize(11.25px);
  }
  @media (min-width: 600px) {
    @include fontSize(12.5px);
  }
}

h4{
  font-family: $fonteSecondaire;
  text-transform: uppercase;
  color: $rouge;
  font-size: 1.5rem;
}

*:focus {
  outline: 2px solid $orange; /* Ajoute une bordure bleue autour de tous les éléments au focus */
}





