@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,700&display=swap');

/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/

/**** Typographie responsive ****/

html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /* 16px pour toutes les largeurs d'écran */
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
  @media (min-width: 601px) {
  }
}

/* Supprimer le style par défaut des liens non visités */
a:link {
  text-decoration: none;
  color: inherit;
}

/* Supprimer le style par défaut des liens visités */
a:visited {
  text-decoration: none;
  color: inherit;
}

/* Supprimer le style par défaut des liens actifs */
a:active {
  text-decoration: none;
  color: inherit;
}


h1,
.titreNiveau1{color: red}
h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: $fonteSecondaire;
  font-weight: 500;
}

h1 {
  /*@include fontSize(28px);*/
  color: $rouge;
  font-size: 40px;
  font-family: $fonteSecondaire;
  @media (min-width: 600px) {
    font-size: 64px;
  }
}

h2 {
  /*@include fontSize(28px);*/
  font-weight: bold;
  font-size: 20px;
  font-family: $fontePrimaire;
  text-transform: uppercase;
  @media (min-width: 600px) {
    font-size: 24px;
  }
}

h3 {
  /*@include fontSize(28px);*/
  font-weight: bold;
  font-size: 18px;
  font-family: $fontePrimaire;
  @media (min-width: 600px) {
    font-size: 20px;
  }
}

.texte {
  font-family: $fontePrimaire;
  font-size: 1.6rem;
  line-height: 1.375;
  &--desktop {
    line-height: 1.5;
  }
}

p{
  font-family: $fontePrimaire;
  font-size: 1.6rem;
  line-height: 1.375;
  &--desktop {
    line-height: 1.5;
  }
}