.vignetteNouv,
.vignetteAP{
  font-size: 0.8rem;
  color: white;
  padding: 3px;
  text-align: center;
  font-weight: bold;
  opacity: 90%;
  background-color: $rouge;
  width: 70px;
  position: absolute;
  top: 0;
  left:0;
  border-radius: 5px;
  @media (min-width: 700px) {
    font-size: 1.2rem;
    width: 125px;
    padding: 10px;
  }
}