.vignetteNouv,
.vignetteAP{
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  opacity: 90%;
  background-color: $rouge;
  width: 125px;
  position: absolute;
  top: 0;
  left:0;
  border-radius: 5px;
}