.livresSimilaires{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-left: 0;
  &__item{

  }

  &__lien{
    color: black;
    text-decoration: none;
    &:hover .livre__titre{
      text-decoration: underline;
    }
  }
}

.livre{
  margin: .5em .5em;
  &__titre{
    font-weight: bold;
  }
}