.infoSupplementaires{
  &__liste{
    list-style-type: none;
  }
  &__input{
    background: #fff;
    color: $orange;
    font-weight: bold;
    &:checked{
      background: $orange;
      color: #fff;
    }
  }



}