/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/

/** Polices de caractères **/
@font-face {
  font-family: 'WonderSeason';
  src: url(../police/wonderseason.ttf) format('truetype')
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,700&display=swap');


$fontePrimaire : "Poppins", sans-serif;
$fonteSecondaire : "WonderSeason", serif;

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$blanc: #f8f1d7;
$vert: #1f6f78;
$orange: #c64532;
$rouge: #681c0f;
$bgTitre: #F2E0D4;

/** Points de rupture **/
$desktop : 601px;