.AParaitre,
.nouveautes {
  h2 {
    margin-top: 60px;
    height: 75px;
  }

  .underline {
    margin-bottom: 45px;
    display: block;
    height: 5px;
    background-color: $vert;

  }

  .voirTout {
    float: right;
    margin-top: -36px;
  }

  .livres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .vignetteLivre {
      max-width: 150px;
      @media (min-width: 800px) {
        max-width: 200px;
      }
      @media (min-width: 1200px) {
        max-width: 300px;
      }
    }

    .imgLivre {
      margin: auto;
      width: 80px;
      @media (min-width: 450px) {
        width: 150px;
      }
      @media (min-width: 800px) {
        width: 200px;
      }
      @media (min-width: 1200px) {
        width: 300px;
      }
    }
  }
}

.AParaitre {
  .underline {
    width: 265px;
    @media (min-width: 600px) {
      width: 350px;
    }
  }
}

.nouveautes {
  .underline {
    width: 305px;
    @media (min-width: 600px) {
      width: 410px;
    }
  }
}