.form_creation {
  margin-top: 40px;

  h2 {
    margin: 20px auto
  }

  form {
    margin: auto;

    .btnPrimaire {
      display: flex;
      align-items: center;
      margin: 12px auto 30px auto;
    }

    .divFrom {
      max-width: 350px;
    }
  }

  .lien_creation {
    margin: auto;
  }

  .error {
    @include styleErreur;
  }
}