main {
  position: relative;
}
.ctnPage{
  & .infoPrincipal,
  & .infoSupplementaires{
    padding: 0 10px;
  }

  @media (min-width: 800px) {
    max-width: 1000px;
    margin: 0 auto;
  }
  .infoPrincipal{
    @media (min-width: 800px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      border-bottom: $rouge solid 1px;
    }

    .images{
      display: block;
      width: 100%;
      @media (min-width: 700px) {
        display: inline-block;
        width: 50%;
      }
      .ctnImg{
        @media (min-width: 700px) {
          //width: 100%;
          height: fit-content;
        }
        &__img{
          max-width: 100%;
          @media (min-width: 700px) {
            //width: 100%;
            max-width: unset;
            height: 60vh;
          }
        }
      }
      .defilement{
        margin-bottom: 3em;
        &__lienPrecedent{
          margin-right: 10px;
        }
      }
    }
    .ctnInfoPanier{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      @media (min-width: 700px) {
        display: inline-flex;
        margin-left: 2em;
        align-self: stretch;
        width: 50%;
        margin-bottom: 0;
      }
      .livrePanier{
        @media (min-width: 700px) {
          margin-bottom: 20vw;
        }
        @media (min-width: 850px) {
          margin-bottom: 10em;
        }
        &__auteurLien{
          color: black;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
            color: $orange;
          }
        }
        &__prixCan{
          font-size: 1.3em;
          font-weight: bold;
        }
        &__theme{
          background: $orange;
          color: $blanc;
          text-transform: uppercase;
          font-weight: bold;
          padding: 1em 1em;
          @media (min-width: 700px) {
            margin-top: 0;
          }
        }
      }
      /*.ajoutPanier{
        &__nbLivre{
          display: inline-block;
          height: 44px;
          width: 44px;
          text-align: center;
          border: black 1.5px solid;
          border-radius: 5px;
          line-height: 2.7em;
          background: white;
        }
        &__moins,
        &__plus,
        &__btnPanier,
        &__btnSouhait{
          margin: .5em 0;
        }
      }*/
    }
  }

  .ctnVisioExtraits{
    margin-top: 1em;
    &__img{
      max-width: 100px;
      &:hover{
        filter: contrast(80%);
        animation: pulse;
        animation-duration: 2s;
        border: $vert solid 1px;
      }
      @media(min-width: 700px){
        width: 150px;
      }
    }
    & .ctnModale{
      &__btn{

      }
      &__img{
        margin-top: 1em;
      }

      & .ctnVisionneuse
      {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        &__liste{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          padding-left: 0;
          list-style-type: none;
        }
        &__item{
          & .ctnVisionneuse__img:hover{

          }
        }

        &__img{
          display: block;
          margin: 0 .3em;
          width: 50px;

          @media (min-width: 600px) {
            width: 100px;
          }
        }

        &__precedent,
        &__suivant{
          align-self: center;
          width: 45px;
          @media (min-width: 600px) {
            width: 50px;
          }
        }
        & .imgChoisie{
          border: $vert solid 2px;
        }
      }
    }
    & .cache{
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      display: inline;
    }
    & .modale{
      position: fixed;
      top:0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 2;
      background: rgba(0, 0, 0, 0.8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

}




