/* Error: expected "}".
 *     ,
 * 248 | }
 *     |  ^
 *     '
 *   ressources/liaisons/scss/modules/_ajoutPanier.scss 248:2  @import
 *   ressources/liaisons/scss/styles.scss 24:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 248 \2502  }\a     \2502   ^\a     \2575 \a   ressources/liaisons/scss/modules/_ajoutPanier.scss 248:2  @import\a   ressources/liaisons/scss/styles.scss 24:9                 root stylesheet';
}
