@charset "UTF-8";
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
/** Palette de couleurs **/
/* Couleurs de base */
/** Points de rupture **/
.image {
  /*position: relative;*/
  border: #1f6f78 solid 2px;
}
.image img {
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
}
.image img:hover {
  position: unset;
}

/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.hyperlien {
  color: #c64532;
}
.hyperlien:visited {
  color: #c64532;
}
.hyperlien:hover {
  color: #681c0f;
  text-decoration: underline;
}
.hyperlien:focus {
  border: #303075 solid 4px;
  text-decoration: underline;
}
.hyperlien:active {
  font-weight: bolder;
  border: none;
  text-decoration: underline;
}

.onglets {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0;
}

.infoPrincipal {
  margin-bottom: 3em;
}

.infoSupplementairesPLus {
  margin-top: 2em;
}

.infoSupplementaires {
  height: fit-content;
  display: block;
}
.infoSupplementaires__liste {
  list-style-type: none;
}
.infoSupplementaires__input:nth-child(1) + label {
  border-top-left-radius: 10px;
}
.infoSupplementaires__input:nth-child(5) + label {
  border-top-right-radius: 10px;
}
.infoSupplementaires__input + label {
  display: inline-block;
  background: #fff;
  color: #c64532;
  font-weight: bold;
  padding: 1em 2em;
  border: #c64532 solid 2px;
}
.infoSupplementaires__input:checked + label {
  background: #c64532;
  color: #fff;
}

.autreInfo {
  margin-top: 0;
  border: #c64532 solid 2px;
}

/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/
/**** Typographie responsive ****/
html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /* 16px pour toutes les largeurs d'écran */
  font-size: 1.6rem;
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}
h1,
.titreNiveau1 {
  color: red;
}

h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: WonderSeason, serif;
  font-weight: 500;
}

h1 {
  /*@include fontSize(28px);*/
  color: #681c0f;
  font-size: 40px;
  font-family: WonderSeason, serif;
  border-bottom: #1f6f78 3px solid;
}
@media (min-width: 600px) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  /*@include fontSize(28px);*/
  font-weight: bold;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  /*@include fontSize(28px);*/
  font-weight: bold;
  font-size: 18px;
  font-family: Poppins, sans-serif;
}
@media (min-width: 600px) {
  h3 {
    font-size: 20px;
  }
}

.texte {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  line-height: 1.375;
}
.texte--desktop {
  line-height: 1.5;
}

/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.btnPrimaire {
  background: #c64532;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
}
.btnPrimaire:hover, .btnPrimaire:active {
  background: #681c0f;
}
.btnPrimaire:focus {
  background: #681c0f;
  outline: #c64532 solid 2px;
  outline-offset: 2px;
}

.btnSecondaire {
  background: #fff;
  color: #c64532;
  font-weight: bold;
  border-radius: 5px;
  border: #c64532 solid 3px;
  padding: 10px 5px;
}
.btnSecondaire:hover, .btnSecondaire:active {
  outline: #681c0f solid 5px;
  color: #681c0f;
}
.btnSecondaire:focus {
  outline: #c64532 solid 5px;
  outline-offset: 3px;
  border: #681c0f solid 5px;
  color: #681c0f;
}

.AjoutPanier__moins,
.AjoutPanier__plus {
  padding: 10px 12px;
}

/*# sourceMappingURL=styles.css.map */
