@charset "UTF-8";
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
/** Palette de couleurs **/
/* Couleurs de base */
/** Points de rupture **/
.image {
  /*position: relative;*/
  border: #1f6f78 solid 2px;
}
.image img {
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
}
.image img:hover {
  position: unset;
}

/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.hyperlien {
  color: #c64532;
}
.hyperlien:visited {
  color: #c64532;
}
.hyperlien:hover {
  color: #681c0f;
  text-decoration: underline;
}
.hyperlien:focus {
  border: #303075 solid 4px;
  text-decoration: underline;
}
.hyperlien:active {
  font-weight: bolder;
  border: none;
  text-decoration: underline;
}

.infoSupplementaires__liste {
  list-style-type: none;
}

/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/
/**** Typographie responsive ****/
html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /* 16px pour toutes les largeurs d'écran */
  font-size: 1.6rem;
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}
h1,
.titreNiveau1 {
  color: red;
}

h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: WonderSeason, serif;
  font-weight: 500;
}

h1 {
  /*@include fontSize(28px);*/
  color: #681c0f;
  font-size: 40px;
  font-family: WonderSeason, serif;
  border-bottom: #1f6f78 3px solid;
}
@media (min-width: 600px) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  /*@include fontSize(28px);*/
  font-weight: bold;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  /*@include fontSize(28px);*/
  font-weight: bold;
  font-size: 18px;
  font-family: Poppins, sans-serif;
}
@media (min-width: 600px) {
  h3 {
    font-size: 20px;
  }
}

.texte {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  line-height: 1.375;
}
.texte--desktop {
  line-height: 1.5;
}

/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.btnPrimaire {
  background: #c64532;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
}
.btnPrimaire:hover, .btnPrimaire:active {
  background: #681c0f;
}
.btnPrimaire:focus {
  background: #681c0f;
  outline: #c64532 solid 2px;
  outline-offset: 2px;
}

.btnSecondaire {
  background: #fff;
  color: #c64532;
  font-weight: bold;
  border-radius: 5px;
  border: #c64532 solid 3px;
  padding: 10px 5px;
}
.btnSecondaire:hover, .btnSecondaire:active {
  outline: #681c0f solid 5px;
  color: #681c0f;
}
.btnSecondaire:focus {
  outline: #c64532 solid 5px;
  outline-offset: 3px;
  border: #681c0f solid 5px;
  color: #681c0f;
}

.AjoutPanier__moins,
.AjoutPanier__plus {
  padding: 10px 12px;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
.noDisplayMenu {
  display: none;
}

.navMobile {
  /*
   * Just a quick hamburger
   */
  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  /*
   * But let's hide the middle one.
   */
  /*
   * Ohyeah and the last one should go the other direction
   */
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  /*
   * And let's slide it in from the left
   */
}
.navMobile #menuToggle {
  float: right;
  display: block;
  position: relative;
  top: -30px;
  left: -20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.navMobile #menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
.navMobile #menuToggle a:hover {
  color: tomato;
}
.navMobile #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.navMobile #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #d21111;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.navMobile #menuToggle span:first-child {
  transform-origin: 0% 0%;
}
.navMobile #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.navMobile #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
.navMobile #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.navMobile #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.navMobile #menu {
  position: absolute;
  width: 240px;
  margin: -100px 0 0 -280px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.navMobile #menu li {
  padding: 10px 0;
  font-size: 22px;
}
.navMobile #menuToggle input:checked ~ ul {
  transform: none;
}

/*# sourceMappingURL=styles.css.map */
